<div class="row">
  <ul class="center large-block-grid-5 small-block-grid-2">
    <li class='center'>
      <a href='http://peterkhayes.com'>
        <div class="center author-description panel">
          <img src='img/peter.jpg'>
          <h5><strong>Peter Hayes</strong></h5>
          <p>Often dreams himself a panda wandering the Library of Babel, eating books to remember bamboo.</p>
        </div>
      </a>
    </li>
    <li class='center'>
      <a href='http://joeyyang.com'>
        <div class="center author-description panel">
          <img src='img/joey.jpg'>
          <h5><strong>Joey Yang</strong></h5>
          <p>Cries more than normally permitted. His shoes shine like brass under a hot sun.</p>
        </div>
      </a>
    </li>
    <li class='center'>
      <a href='http://richparrish.com'>
        <div class="center author-description panel">
          <img src='img/rich.jpg'>
          <h5><strong>Rich Parrish</strong></h5>
          <p>Born in a submarine, under the Atlantic and the stars.  Dines on mountains.</p>
        </div>
      </a>
    </li>
    <li class='center'>
      <a href='http://gavs.io'>
        <div class="center author-description panel">
          <img src='img/gavin.jpg'>
          <h5><strong>Gavin Shriver</strong></h5>
          <p>Has but one weakness, which is also your weakness.  Don't let your guard down.</p>
        </div>
      </a>
    </li>
    <li class='center'>
      <a href='http://alexprokop.com'>
        <div class="center author-description panel">
          <img src='img/alex.jpg'>
          <h5><strong>Alex Prokop</strong></h5>
          <p>Prefers to date communists.  Almost certainly already knows your middle name.</p>
        </div>
      </a>
    </li>
  </ul>
</div>