<div class='download-customization'>
  <br><br>
  <br>
  <div class="row">
    <div class='large-6 small-12 columns'>
      <h5>Log In with Google Analytics: </h5>
    </div>
    <div class='large-6 small-12 columns'>
      <img class='loading-spinner' src='img/ajax-loader.gif' ng-show='loading.login'/>
      <button ng-hide='loggedIn || loading.login' ng-click='login()' class='googleLogin'>Log In</button>
      <button ng-hide='!loggedIn || loading.login' ng-click='logout()' class='googleLogin'>Log Out</button>
      <div class='error'>{{error.login}}</div>
    </div>
  </div>

  <div ng-show='loggedIn' class='row'>
  <br><hr/><br>
    <div class='large-6 small-12 columns'>
      <h5>Select your account:</h5>
      <ul>
        <li ng-repeat='account in accounts' class='download-page-list' ng-class="{highlighted : isSelectedAccount(account)}" ng-click='selectAccount(account)'>{{account.name}}<br></li>
      </ul>
    </div>
    <div ng-show='account' class='large-6 small-12 columns'>
      <h5>Select your web property (website):</h5>
      <ul>
        <img class='loading-spinner' src='img/ajax-loader.gif' ng-show='loading.webProps'/>
        <li ng-hide='loading.webProps' ng-repeat='webprop in webProps' class='download-page-list' ng-class="{highlighted : isSelectedWebProp(webprop)}" ng-click='selectWebProp(webprop)'>{{webprop.name}}<br></li>
      </ul>
      <div class='error'>{{error.webProp}}</div>
    </div>
  </div>

  <div ng-show='webProp' class='row'>
    <br><hr/><br>
    <div class='large-4 small-12 columns'>
      <h5>Pick your test:</h5>
      <ul>
        <img class='loading-spinner' src='img/ajax-loader.gif' ng-show='loading.tests'/>
        <li ng-repeat='test in tests' class='download-page-editable-list'>
          <span class='index'>{{$index + 1}}.</span>
          <input ng-click='selectTest(test)' autofocus type='text' value='{{test.name}}' ng-enter='selectTest()'></input>
          <span class='delete' ng-click='deleteTest(test)'>X</span>
        </li>
        <li ng-hide='loading.variations' class='download-page-editable-list'><button class='tiny' ng-click='addVariation()'>Add one</button></li>
      <div class='error'>{{error.tests}}</div>
      </ul>
    </div>
    <div class='large-4 small-12 columns'>
      <h5>Name your variations:</h5>
      <ul ng-show='test'>
        <img class='loading-spinner' src='img/ajax-loader.gif' ng-show='loading.tests'/>
        <li ng-repeat='variation in test.variations' class='download-page-editable-list'>
          <span class='index'>{{$index + 1}}.</span>
          <input autofocus type='text' value='{{variation.name}}' ng-enter='addVariation()'></input>
          <span class='delete' ng-click='deleteVariation(variation)'>X</span>
        </li>
        <li ng-hide='loading.variations' class='download-page-editable-list'><button class='tiny' ng-click='addVariation()'>Add one</button></li>
      </ul>
    </div>
    <div class='large-4 small-12 columns'>
      <h5>Names your goals:</h5>
      <ul>
        <img class='loading-spinner' src='img/ajax-loader.gif' ng-show='loading.tests'/>
        <li ng-repeat='goal in goals' class='download-page-editable-list'>
          <span class='index'>{{$index + 1}}.</span>
          <input autofocus type='text' value='{{goal.name}}' ng-enter='addGoal()'></input>
          <span class='deletegoal' ng-click='deleteGoal(goal)'>X</span>
        </li>
        <li ng-hide='loading.goals' class='download-page-editable-list'><button class='tiny' ng-click='addgoal()'>Add more</button></li>
      <div class='error'>{{error.goals}}</div>
      </ul>
    </div>
  </div>

  <div ng-show='webProp' class='row'>
    <div class='large-4 small-12 columns'>
      <br><br><button ng-click='download()'>DOWNLOAD YOU FOOLS!</button>
    </div>
  </div>
</div>