 
  <div class="title-slide row">
    <div class="large-12">
 
    <!-- Desktop Slider -->
 
      <div class="hide-for-small">
        <div id="featured">
          <img exp-name='default' src="img/slideimage-desk.jpg" alt="slide image">
        </div>
        </div>
 
    <!-- End Desktop Slider -->
 
 
    <!-- Mobile Header -->
 
 
    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="img/slideimage-mob.jpg" />
      </div>
    </div>
 
 
  <!-- End Mobile Header -->
    <hr/>
    </div>
  </div><br>
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    <!-- Thumbnails -->
 
        <div class="large-3 small-6 columns">
          <div class='inner-thumbnail-container'>
            <img src="img/code-example.png" />
            <abtest>
              <h6 exp-name='default' class="center panel">Write tests in HTML,<br> not in Javascript.</h6>
              <h6 exp-name='Thumb1 Text' class="center panel">Write all of your tests<br>without a line of Javascript.</h6>
            </abtest>
          </div>
        </div>
 
        <div class="large-3 small-6 columns">
          <div class='inner-thumbnail-container'>
            <img src="img/performant.png" />
            <abtest>
              <h6 exp-name='default' class="center panel">Lightning-fast pageloads.<br>Invisible substitutions.</h6>
              <h6 exp-name='Thumb2 Text' class="center panel">Load your pages instantly<br>and apply tests without flicker.</h6>
            </abtest>
          </div>
        </div>

        <div class="large-3 small-6 columns">
          <div class='inner-thumbnail-container'>
            <img src="img/frameworks-and-browsers.png" />
            <abtest>
              <h6 exp-name='default' class="center panel">All major frameworks<br>and browsers supported.</h6>
              <h6 exp-name='Thumb3 Text' class="center panel">All "major" frameworks<br>and browsers "supported".</h6>
            </abtest>
          </div>
        </div>
 
        <div class="large-3 small-6 columns">
          <div class='inner-thumbnail-container'>
            <img src="img/analytics.png" />
            <abtest>
              <h6 exp-name='default' class="center panel">Automatically integrates<br>with Google Analytics.</h6>
              <h6 exp-name='Thumb4 Text' class="center panel">78% easier Google Analytics integration. We checked.</h6>
            </abtest>
          </div>
        </div>
 
    <!-- End Thumbnails -->
        <hr/>
      </div>
    </div>
  </div><br>
 
 
 
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
 
    <!-- Content -->
 
        <div class="large-8 columns">
          <div class="panel radius">
 
          <div class="row">
          <h4 class='center'>Optimize Everything.</h4><hr/>
          <div class="large-6 small-6 columns">
 
            <p>
              Everyone knows that extensive testing is what separates good sites from great ones. But small developers have traditionally lacked free, easy-to-use testing frameworks that don't require a lot of work to get started with.
            </p>
 
          </div>
          <div class="large-6 small-6 columns">
 
            <p><strong>Inline AB fills this role.</strong> By including a single script, a developer can write A/B tests into their HTML. We'll handle the rest. Your test data will automatically appear on Google Analytics, and we'll alert you when it's time to conclude your tests.
          </p>
        </div>
 
        </div>
        </div>
        </div>
 
          <div class="large-4 columns">
 
          <h4 class='center'>Get Inline AB:</h4><br>
          
          <abgoal goal-name='ab-goal' goal-action='click'>
            <a class="large button expand" href="#/download">
              Personalized Version<br>
              <span class='small-text'>We'll set up your script for you.</span>
            </a>
          </abgoal>
 
          <abgoal goal-name='ab-goal' goal-action='click'>
            <a class="large button expand" href="js/inlineab.js">
              Source Code<br>
              <span class='small-text'>Fully annotated; requires additional setup.</span>
            </a>
          </abgoal>
 
 
        </div>
 
    <!-- End Content -->
 
      </div>
    </div>
  </div>