.small-text {
  font-style: italic;
  font-size: 12px;
}

.inner-thumbnail-container {
  max-width: 250px;
  margin: 0 auto;
}

.author-description {
  max-width: 200px;
  margin: 0 auto;
  min-height: 400px;
}

.author-description img {
  margin-bottom: 25px;
}

.author-description:hover {
  background-color: #DDD;
}

.center {
  text-align: center;
}

.moveup {
  margin-top: -20px;
}